@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

    .header{
       width: 100%;
       display: flex;
       justify-content: space-between;
       background-color: #cdeb24;
    }

   .logo{
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
   }

   #create_visit{
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 10px;
      border: solid #892634 2px;
     border-radius: 10px;
     background-color: rgb(195, 243, 247);
     color: #120d36;
   }

   .cards-field{
      margin-top: 10px;
      width: 100%;
      height: 500px;
      background-color: rgb(230, 230, 230);
      
   }

   #field-assign{
      text-align: center;
      vertical-align: middle;

   }

   .modal-background{
      display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
   }

   .modal-form {
      padding-top: 20px;
      position: absolute;
      z-index: 3000;
      width: 450px;
      min-height: 200px;
      border: 1px solid black;
      border-radius: 3%;
      background: #fffee8;
   }

   .modal-block {
      display: flex;
      flex-direction: column;
   }

   .button-close {
      background-color: wheat;
      border: 1px solid black;
      z-index: 3000;
      border-radius: 5px;
      position: absolute;
      right: 0;
      top: 0;
   }

   .card-form{
      position: relative;
      width: 100px;
      /* height: 100px; */
      border: 1px solid black;
      border-radius: 3%;
      background-color: red;
   }